{{define "footer"}}
<footer class="footer footer-padding 1rem 1.5rem 1rem">
    <div class="content has-text-centered">
        <p>
            Copyright 2018 Ryan Kelly
        </p>
    </div>
</footer>
{{end}}